*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: #030027;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    padding: 60px;
}

.section-header{
    font-size: 46px;
    margin: 15px 0;
    text-align: center;
    margin: 0 auto 35px auto;
}

/* header start */
header{
    padding: 20px 35px;
    display: flex;
    background-color: #475841;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    width: 100vw;
}

header h1{
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #CED0CE;
}

header a{
    text-decoration: none;
    color: #CED0CE;
}

header nav{
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 22px;
}

header nav ul li a:hover{
    background: #3F403F;
    border-radius: 15px;
}
/* header end */

/* hero start */
.hero {
    background-image: url(../images/portfolio-1.jpeg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100vw;
    height: 50vh;
}

.hero div{
    color: #CED0CE;
    font-size: 36px;
}
/* hero end */

/* About me start */
.about-me{
    background-color: #CED0CE;
}

.about-me-con{
    margin: 25px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.my-content{
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.my-content h2{
    flex: 1 10%;
    font-size: 46px;
}

.my-image{
    flex: 1 12%;
    margin-right: 20px;
}

.my-image img{
    max-width: 100%;
}

.my-words{
    flex: 12;
}

.my-words p{
    font-size: 18px;
}
/* About me end */

/* My work start */
.my-work{
    background-color: #CED0CE;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
}

.my-work h3{
    text-align: center;
}

.main-project{
    flex: 1 80%;
}

.main-project img{
    max-width: 100%;
    opacity: 0.50;
}

.main-project:hover img{
    opacity: 1;
}

.my-work ul{
    display: flex;
    flex-wrap: flex;
}

.my-work li{
    height: 40vh;
    flex-grow: 1;
    list-style: none;
    display: flex;
}

.my-work ul img{
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    opacity: .5;
}

.my-work li:hover img{
    opacity: 1;
}

.my-work li:hover .proj-cap{
    text-shadow: 1px 1px 2px #030027;
}

.proj-cap{
    position: absolute;
    max-width: 200px;
    color: #CED0CE;
}
/* My work end */

/* Contact me start */
.contact-me{
    background-color: #475841;
    width: 100vw;
}

.contact-me h2{
    color: #CED0CE;
}

.contact-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.contact-info a{
    text-decoration: none;
    color: #CED0CE;
    font-size: 20px;
}
/* Contact me end */

/* Media queries start */
@media screen and (max-width:980px) {
    header{
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1{
        width: 100%;
        text-align: center;
    }

    header nav ul{
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    header nav ul li a{
        font-size: 20px;
    }

    .my-work ul{
        flex-direction: row;
    }

    .my-work li{
        height: auto;
        width: 100%;
    }

    .my-work img{
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}

@media screen and (max-width:768px) {
    .hero div{
        font-size: 30px;
    }

    .contact-info a{
        font-size: 17px;
    }
}

@media screen and (max-width:575px) {
    .section-header{
        font-size: 35;
    }

    .contact-me h2{
        font-size: 35px;
    }

    .my-words p{
        font-size: 16px;
    }
}
/* End media queries */